
.main-header {
  background: linear-gradient(to right, #000000, #360d5c);
  color: white;
  width: 100%;
  padding: 1rem 1.2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); /* shadow-lg */
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;    /* flex */
  gap: 0.75rem;     /* gap-3 */
  align-items: center;
}

.header-icon {
  width: 100%;  /* w-8 */
  height: 3.5rem; /* h-8 */
}

.header-title {
  display: none;
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;    /* font-bold */
  margin: 0;
}

.post-header{
    display: none;
    height: 10rem;
    background-color: #111827;
    padding: 1rem;
}

.tittle {
    display: inline; /* o inline-block */
    color: white;
    font-size: 3rem;
    font-family: 'Inter', system-ui, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    display: fl;
    justify-content: flex-start;
}

.subtittle{
  color: #94a3b8; /* El color gris azulado para el subtítulo */
  font-size: 1.5rem;
  font-weight: 400;
}

nav{
  align-items: center;
  padding-inline-start: 1rem;
  display: flex;      
  gap: 0.8rem;        

}

a {
  text-decoration: none; 
  color: inherit;       
  cursor: pointer;       
}

/*Botón idioma*/
.language-toggle {
  display: none;
  align-items: center;
  padding: 0 1rem;
  margin-left: auto;
}


@media (min-width: 728px) {
  .post-header {
    display: block; /* Aparece a partir de tablets y ordenadores */
  }

  .header-title{
    display: inline;
  }

  nav{
  align-items: center;
  padding-inline-start: 1.8rem;
  display: flex;      
  gap: 1rem;        
  }

  /*Botón idioma*/
.language-toggle {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-left: auto;
}

.language-toggle button {
  background: linear-gradient(135deg, rgba(106, 27, 154, 0.2) 0%, rgba(11, 61, 145, 0.2) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 6px 14px;
  border-radius: 30px; /* Forma de píldora */
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Efecto al pasar el ratón */
.language-toggle button:hover {
  background: linear-gradient(135deg, rgba(106, 27, 154, 0.5) 0%, rgba(11, 61, 145, 0.5) 100%);
  border-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-1px);
  box-shadow: 0 0 15px rgba(106, 27, 154, 0.4); /* Brillo púrpura */
}

/* Efecto al hacer clic */
.language-toggle button:active {
  transform: scale(0.95);
}
  
}
@media (min-width: 728px) and (max-width: 1023px) {

.subtittle {
    display: none; /* Esto ocultará el subtítulo de tablets en adelante */
  }
}
