<header class="main-header">
  <div class="header-container">
    
    <img class="header-icon" src="images/ICON_NASA.png" alt="Logo de la NASA">
    <h1 class="header-title">{{ 'HEADER.WEB_TITTLE' | translate }}</h1>
  </div>

  <nav> 
    <a [routerLink]= "['/']">{{ 'HEADER.HOME_NAV' | translate }}</a>
    <a [routerLink]= "['/apod/favourites']">{{ 'HEADER.FAVOURITES_NAV' | translate }}</a>
    <a [routerLink]="['/about']">{{ 'HEADER.ABOUT_NAV' | translate }}</a>
  </nav>

  <div class="language-toggle">
  <button (click)="toggleLanguage()">
    {{ translate.currentLang === 'en' ? 'ES' : 'EN' }}
  </button>
</div>

</header>

@if (!(phTittle()=="")) {
  <div class="post-header">
    <h1 class="tittle"> {{phTittle()}}</h1>
    <h1 class="subtittle">{{phSubtittle()}}</h1>
</div>
}

