:host {
  display: block;
  --card-bg: #111827;
  --text-main: #2c3e50;
  --text-muted: #7f8c8d;
  --accent: white; /* Azul NASA */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --radius: 12px;
  max-width: 100%;
}

.apod-card {
  background: var(--card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  height: 100%;
  width: 100%;
  position: relative;
}

.apod-card:hover {
  transform: translateY(-4px);
}

.apod-header {
  padding: 1.5rem;
}

.apod-title {
  margin: 0;
  font-size: 1.25rem;
  color: var(--accent);
  line-height: 1.2;
  /* para que el titulo no ensanche las cards*/
  word-wrap: break-word;
  overflow-wrap: anywhere; 
  white-space: normal;
}

.apod-date {
  font-size: 0.85rem;
  color: var(--text-muted);
}

.apod-media-container {
  position: relative;
  width: 100%;
  background: #000;
  overflow: hidden; /* si la imagen es más grande de 250px, se corta */
}

.apod-image, .apod-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Evita deformar la imagen al ajustarse*/
}

.apod-content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.apod-copyright {
  font-style: italic;
  color: var(--text-muted);
}

a {
  display: block;  
  height: 100%;      /* Que ocupe todo el alto de la card */
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  
  /* Asegura que el link esté por encima de cualquier otro elemento interno */
  position: relative;
  z-index: 5; 
}

.apod-media-container {
  position: relative; /* Para el icono de video */
  width: 100%;
  aspect-ratio: 16/9; /*antes height: 250px. se ha cambiado a aspect-radio para que se adapte a diferentes tamaños y no sean 250px rígidos */
  overflow: hidden;
}

.apod-media {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Importante para que el video no se deforme */
  display: block;
}

@media (max-width: 600px){
  .apod-copyright, .apod-date{
    font-size: 0.8rem;
  }

  .apod-title{
    font-size: 1rem;
  }
}