.gallery{
    margin-top: 2rem;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr; /* 1 columna */
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.loading{
    position: fixed;         /* Lo ancla a la pantalla del navegador, no al componente */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 0;
}

/* 2. TABLET (Desde 768px): 2 columnas exactamente iguales */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3. ORDENADOR (Desde 1024px): 3 columnas exactamente iguales */
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
