:host {
  display: block;
  min-height: 100vh;
  
  color: #fff;
  
  --bg-panel: #1a0b2e; /* Púrpura muy oscuro */
  --bg-description: rgba(255, 255, 255, 0.05); 
  --text-muted: #b0b0b0;
  --radius-lg: 20px;
}

.loading{
  position: fixed;      
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;  
}

.apod-details-page {
  display: flex;
  flex-direction: column;
}

/* Contenedor Principal  */
.apod-main-container {
  display: flex;
  flex: 1;
  padding: 2rem;
  gap: 2rem;
  
}

/* Columna Izquierda */
.apod-media-column {
  flex: 1.2; /* Un poco más ancha que la de texto */
  display: block;
  flex-direction: column;

}

.apod-media-wrapper {
  width: 100%;
  position: sticky; /* Se queda fija al hacer scroll */
  top: 2rem;
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  background: #000;
  
}

.apod-image, .apod-video {
  width: 100%;
  display: block;
  object-fit: contain; /* Para ver la imagen HD completa */
  max-height: 80vh; /* No más alta que la pantalla */
}

/*columna derecha*/
.apod-info-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
  
}

.apod-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.apod-meta {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--text-muted);
  font-size: 0.95rem;
  
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meta-item .material-icons {
  font-size: 1.1rem;
  color: rgba(255,255,255,0.5);
}


.apod-description-box {
  padding: 1.5rem;
  border-radius: var(--radius-lg);
  border: 1px solid rgba(255,255,255,0.05);
  background: linear-gradient(135deg, #000 0%, var(--bg-panel) 100%);
}

.description-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.description-content {
  line-height: 1.7;
  color: var(--text-muted);
}

.btn-favourite {
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 12px 24px;
  min-width: 240px;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 12px; 
  background: linear-gradient(135deg, rgba(106, 27, 154, 0.4) 0%, rgba(11, 61, 145, 0.4) 100%);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  margin-top: 20px;
}


.btn-favourite:hover {
  background: linear-gradient(135deg, rgba(106, 27, 154, 0.7) 0%, rgba(11, 61, 145, 0.7) 100%);
  transform: scale(1.02);
  border-color: rgba(255, 255, 255, 0.5);
}


a {
  text-decoration: none; 
  color: inherit;        
  cursor: pointer;       
  outline: none;   
       
} 

@media (max-width: 600px){
  .apod-main-container {
    flex-direction: column;
  }

  .apod-info-column{
    font-size: 0.75rem;
  }

  .apod-title{
    font-size: 1.5rem;
  }

  .apod-description-box {
  padding: 0.3rem;
  }
}


