@if (isLoading()) {
  <div class="loading">
    <svg width="100" height="100" viewBox="0 0 50 50">
        <circle cx="25" cy="25" r="20" fill="none" stroke="#0b3d91" stroke-width="4" stroke-dasharray="80" stroke-dashoffset="60">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 25 25;360 25 25"/>
        </circle>
    </svg>
  </div>
}
@if (apod(); as data) {
    <main class="apod-main-container">
      
      <section class="apod-media-column">
        <div class="apod-media-wrapper">
          @if (data.media_type == "video") {
          <video 
          [src]="data.url" 
          class="apod-video" 
          controls 
          playsinline>
      </video>
          }@else {
            <img 
              [src]="data.hdurl || data.url" 
              [alt]="data.title" 
              class="apod-image">
          }
        </div>
      </section>

      <section class="apod-info-column">
        <h1 class="apod-title">{{ data.title }}</h1>
        <div class="apod-description-box">
          <h2 class="description-title">{{ "DETAILS.DESC" | translate }}</h2>
          <div class="description-content">
            <p>{{ data.explanation }}</p>
          </div>
          <br>
          <p>{{ "DETAILS.DATE" | translate }} {{data.date}}</p>
          <p>{{ "DETAILS.AUTHOR" | translate }} {{data.copyright}}</p>
        </div>
        @if (isFavourite()) {
          <button class="btn-favourite" (click)="addToFavourites()"> {{ "DETAILS.FAV_REMOVE_BTN" | translate }} </button>
        }@else{
          <button class="btn-favourite" (click)="addToFavourites()">{{ "DETAILS.FAV_ADD_BTN" | translate }}</button>
        }
        
      </section>
  
    </main>
  }