.gallery{
    margin-top: 2rem;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-columns: 1fr; /* 1 columna */
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}



/* 2. TABLET (Desde 768px): 2 columnas exactamente iguales */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3. ORDENADOR (Desde 1024px): 3 columnas exactamente iguales */
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading{
    position: fixed;         /* Lo ancla a la pantalla del navegador, no al componente */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 0;
    
}


/* Contenedor principal de la búsqueda */
.search-wrapper {
  color: #fff;
  margin-top: 1rem;
  display: flex;
  margin-inline: auto; /* Centra horizontalmente el bloque */
  justify-items: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05); 
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px; 
  padding: 6px 15px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 300px;
  width: 100%;
  backdrop-filter: blur(10px);
}


/* El campo de texto real */
.search-input {
  background: transparent;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 0.9rem;
  width: 100%;
  outline: none;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}



/* Cuando el usuario hace clic o escribe (Focus) */
.search-wrapper:focus-within {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(106, 27, 154, 0.6); /* Brillo púrpura */
  box-shadow: 0 0 15px rgba(106, 27, 154, 0.2);
  transform: scale(1.02);
  max-width: 350px; /* Se expande un poco al escribir */
}

.search-wrapper:focus-within .search-icon {
  color: #fff; /* El icono se ilumina */
}